svg {
  height: 25px;
  cursor: pointer;
}

form.add-note {
  margin-bottom: 120px;
}

.alert {
  place-items: center;
}

.add-note-container {
  margin-block: calc(3rem + 25px);
}

.show-notes {
  margin-top: calc(3rem + 40px);
}

.search-results {
  text-align: right;
}
