.favicon {
  height: 35px;
}

.login-body {
  width: 550px;
  max-width: 100%;
}

.error-icon {
  height: 24px;
  width: 24px;
  margin-top: -2px;
  fill: var(--bs-red);
}

.dark-mode-btn {
  margin-top: -6px;
  margin-right: 35px;
  position: relative;
}

.dark-mode-label {
  position: absolute;
  font-size: 9px;
  width: max-content;
  bottom: -50%;
  left: -50%;
}

.login-signup-interchange {
  display: block;
  text-align: right;
}

.svg-icons {
  height: 26px;
  width: 26px;
  cursor: pointer;
}

.loader {
  display: grid;
  place-items: center;
  width: 7rem;
  height: 7rem;
}

.text-gray {
  color: var(--bs-gray-600);
}

.btn-purple {
  background-color: var(--bs-purple);
}

input::placeholder,
textarea::placeholder {
  color: var(--bs-gray-700) !important;
}
